<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.yobny.opensource.osgi.karafview.view.ui.KarafAdminView"
            id="com.yobny.opensource.osgi.karafview.view.ui.KarafAdminView"
            name="KarafAdmin"/> 
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            class="com.yobny.opensource.osgi.karafview.preferences.KarafPreference"
            name="Karaf"
            id="com.yobny.opensource.osgi.karafview.preferences.KarafPreference"/>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.yobny.opensource.osgi.karafview.console.KarafConsoleFactory"
            label="Karaf Console"/>
   </extension>

</plugin>
